{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Login
{% endblock %}
 <!-- #007C89 -->
{% block body %}
    <div class="form-login" style="margin-top: 20px;opacity: 0.9;color: black;">
        <div class="white-panel">
        <div class="panel bg-theme">
            <h3 class="form-login-heading" style="color: snow;">Login  now</h3>
        </div>
        <div class="panel-body">
            <div>             
                <form method="POST" class="login-wrap">
                    {% csrf_token %}
                    {{login_form|crispy}}
                    <span class="pull-left fa fa-eye showhide"></span>
                    <a class="pull-right" href="{% url 'password_reset' %}">Forgot Password?</a>
                    <br><br>
                    <input type="hidden" name="form_name" value="login_form">
                    <div class="text-center">
                    <button class="btn btn-theme btn-block" type="submit">
                        <i class="fa fa-unlock-alt"></i>
                        Login
                    </button>
                    </div>
                </form>
            </div>
                <hr>
            <div class="text-center">
                Don't have an account yet? <br>
                <a href="{% url 'signup' %}"><strong class="text-danger">Signup here</strong></a>!
            </div>
        </div>  
        </div> 
    </div>
{% endblock %}
{% block modals %}
{% include 'modal_login.html' %}
{% endblock %}
{% block script %}
<script>
    $('.showhide').click(function(){
        if($('#id_password').attr('type') =='password'){
            $('#id_password').attr('type','text')
            $('.showhide').addClass('fa-eye-slash')
        }
        else{
            $('#id_password').attr('type','password')
            $('.showhide').removeClass('fa-eye-slash')
        }
    })
</script>
{% endblock %}