{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Signup
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10" style="opacity: 0.9;color: black;">
    <div class="white-panel">
      <div class="panel" style="padding: 1px;border-width: 0 0 2px 0;border-color: black;">
        <h3 ><b>sign up now</b></h3>
      </div>
      <div class="panel-body" style="height: 450px;overflow-y: auto;overflow-x: hidden;">
        <form class="form" id="user" method="POST" enctype="multipart/form-data" onsubmit="return validation()">
          {% csrf_token %}
          <div class="row"> 
            <div class="col-xs-6">
              {{signup_form.first_name|as_crispy_field}}
            </div>
            <div class="col-xs-6">
                {{signup_form.last_name|as_crispy_field}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
                {{signup_form.username|as_crispy_field}}
            </div>
            <div class="col-xs-4">
                {{signup_form.phone|as_crispy_field}}
            </div>
            <div class="col-xs-4">
                {{signup_form.email|as_crispy_field}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
                {{signup_form.password1|as_crispy_field}}
            </div>
            <div class="col-xs-4">
                {{signup_form.password2|as_crispy_field}}
            </div>   
            <div class="col-xs-4">
              <label>Category:</label>
              <div class="error_msg" id="cat_msg"><b><i class="fa fa-exclamation-circle"></i> </b></div>
              <select class="my_select form-control" id="id_category" name="Catgy">
                  <option value="">----------</option>
                {% for category in categories %} 
                  <option  value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>          
          <div id="id_cat" class="form-group"></div>
          <input type="hidden" name="form_name" value="signup_form">
          <div class="row justify-content-center">
            <button class="btn btn-theme " type="submit">
              <i class="fa fa-users"></i>
              Sign Up
            </button>
          </div><hr>
          <div class="text-center">
            Already have an account 
            <a href="#" data-toggle="modal" data-target="#modal_login"  ><b class="text-danger">login</b></a> instead.
          </div>  
        </form><br>
      </div>  
    </div> 
  </div>
</div>
{% endblock %}
{% block modals %}
{% include 'modal_login.html' %}
{% endblock %}
{% block script %}
<script>
  function validation() {
    var cat = $("#id_category").val();
    if (cat == '') {
      msg = document.getElementById('cat_msg')
      msg.style.display="inline"
      setTimeout(()=> {msg.style.display="none"} ,3000)
      return false;
    }  
    else{
      if(cat =='Student'){
        var sub = $("#id_student_cat").val();
        var skl = $("#id_school").val();
        var depart = $("#id_department").val();
        var lev = $("#id_level").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (skl == '') {
          msg = document.getElementById('skl_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (depart == '') {
          msg = document.getElementById('depart_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (lev == '') {
          msg = document.getElementById('lev_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
      if(cat =='Lecturer'){
        var sub = $("#id_lecturer_cat").val();
        var skl = $("#id_school").val();
        var depart = $("#id_department").val();
        var lev = $("#id_level").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (skl == '') {
          msg = document.getElementById('skl_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (depart == '') {
          msg = document.getElementById('depart_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (lev == '') {
          msg = document.getElementById('lev_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
      if(cat =='Department council'){
        var sub = $("#id_dep_council_cat").val();
        var skl = $("#id_school").val();
        var depart = $("#id_department").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (skl == '') {
          msg = document.getElementById('skl_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (depart == '') {
          msg = document.getElementById('depart_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
      if(cat =='School council'){
        var sub = $("#id_skl_council_cat").val();
        var skl = $("#id_school").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
        if (skl == '') {
          msg = document.getElementById('skl_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
      if(cat =='Academic council'){
        var sub = $("#id_acad_council_cat").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
      if(cat =='College council'){
        var sub = $("#id_col_council_cat").val();
        if (sub == '') {
          msg = document.getElementById('sub_msg')
          msg.style.display="inline"
          setTimeout(()=> {msg.style.display="none"} ,3000)
          return false;
        }
      }
    }         
  }
</script>
<script>
  $(document).ready(function(){
    $('.my_select').selectpicker()
  })

  $('#id_category').change(function() {
      let cat_select = $(this).val();
      $.ajax({
        url: "{% url 'load_category' %}",
        data: {
          category: cat_select,
        },
        success: function(response) {
          $('#id_cat').html(response)
        }
      })
    });
</script>
<script>
  $('.showhide').click(function(){
      if($('#id_password').attr('type') =='password'){
          $('#id_password').attr('type','text')
          $('.showhide').addClass('fa-eye-slash')
      }
      else{
          $('#id_password').attr('type','password')
          $('.showhide').removeClass('fa-eye-slash')
      }
  })
</script>
{% endblock %}