{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Reset your password
{% endblock %}
{% block body %}

  <div class="row mt">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="white-panel">
        <div class="panel-heading">
          <div>
            <div class="pull-left">
              <h4>Reset your password</h4>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <hr><br>
          <h5>Enter your email address and we will send you a link to reset your password.</h5>
          <form method="post" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" value="Send e-mail"  class="btn btn-theme">Send password reset email</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}