{% extends "base.html" %}
{% block title %}
Password reset
{% endblock %}
{% block body %}
<div class="row mt">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="white-panel">
            <div class="panel-heading">
                <div class="pull-left">
                <h4>Password set</h4>
                </div>
            </div>
            <div class="panel-body">
                <br><hr>
                <h5>Your password has been set. Click
                    <a href="{% url 'login' %}"> here </a> 
                    for home login
                </h5>
            </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
</div>

{% endblock %}
