{% extends "base.html" %}
{% block title %}
Reset your password
{% endblock %}
{% block body %}
<div class="row mt">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="white-panel">
        <div class="panel-heading">
            <h4 class="pull-left">Reset your password</h4>
        </div>
        <div class="panel-heading">
            <hr><br>
            <h5>We have emailed you instructions for setting your password.<br>
                Please check your inbox .
            </h5>
        </div>
        <div style="margin: 2%;" class="panel-body bg-theme mt">
            <h5 style="color: snow">If you don't receive an email, please make sure you've entered the address you registered with.</h5>
        </div><br>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}