{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Reset your password
{% endblock %}
{% block body %}
<div class="row mt">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="white-panel">
            <div class="panel-heading">
            <div>
                <div class="pull-left">
                <h4>Reset your password</h4>
                </div>
            </div>
            </div>
            <div class="panel-body">
            <hr><br>
                {% if validlink %}
                    <h5><b>Enter your new password twice:</b></h5>
                    <br>
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                        </div>
                        <button class="pull-right btn btn-theme" type="submit">
                        <i class="fa fa-save"></i>
                        Change my password
                        </button>
                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
</div>
  
{% endblock %}