{% load crispy_forms_tags %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal_chat">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-login"> 
      <div class="modal-header modal-title">
        <span class="btn btn-xs pull-right" data-dismiss="modal"><i class="fa fa-times"></i></span>
        <h4 class="modal-title text-center"><b>Add chat</b></h4>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{chat_form|crispy}}
          <input type="hidden" name="form_name" value="chat_form">
          <div class="text-center">
            <button class="btn btn-theme btn-xs" type="submit">
            <i class="fa fa-plus-circle"></i>
              Add
            </button>
          </div>
        </form>
      </div>
      <hr>
    </div>
  </div>
</div>