<div class="modal fade" tabindex="-1" role="dialog" id="modal_">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-login"> 
        <div style="margin: 20px;">
          <span class="btn btn-xs pull-right" data-dismiss="modal"><i class="fa fa-times"></i></span>
          <h4><i style="color: coral;" class="fa fa-exclamation-triangle"></i></h4>
        </div>
        <hr>
        <div class="modal-body">
          <div class="container">
            <h4>Please login first!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
 