{% extends 'base.html' %}
{% block title %}
Database
{% endblock %}
{% block body %}
<h6>all user</h6>
<div style="height: 500px;overflow-y:auto;">
<table border="1"  style="background-color:whitesmoke; ">
<thead style="background-color: khaki">
    <td>fname</td><td>lname</td><td>email</td><td>username</td><td>phone</td><td>category</td>
    <td>std cat</td><td>regNo</td><td>lect cat</td><td>staffId</td><td>col cnl cat</td><td>acad cnl cat</td>
    <td>skl cnl cat</td><td>dep cnl cat</td><td>skl</td><td>dep</td><td>lev</td>
</thead> 
<tbody>   
{% for user in users %}
<tr>
<td>{{user.first_name}}</td>
<td>{{user.last_name}}</td>
<td>{{user.email}}</td>
<td>{{user.username}}</td>
<td>{{user.phone}}</td>
<td>{{user.category}}</td>
<td>{{user.student}}</td>
<td>{{user.regNo}}</td>
<td>{{user.lecturer}}</td>
<td>{{user.staffId}}</td>
<td>{{user.college_council}}</td>
<td>{{user.academic_council}}</td>
<td>{{user.school_council}}</td>
<td>{{user.department_council}}</td>
<td>{{user.school}}</td>
<td>{{user.department}}</td>
<td>{{user.level}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}