{% if page == 'create' %}
<div class="row form-group">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 pad">
    <label for="id_col_council_cat">Sub category</label>
    <div class="error_msg" id="sub_msg"><b><i class="fa fa-exclamation-circle"></i> </b></div>
    <select class="form-control my_select col-lg-5" id="id_col_council_cat" name="Col_council_cat" multiple data-selected-text-format="count>1">
      {% for col_council_cat in col_council_cats %}   
        <option value="{{col_council_cat.name}}">{{col_council_cat.name}}</option>  
      {% endfor %} 
    </select>
  </div>
  <div class="col-xs-5 pad"></div>
</div>
{% else %}
<div class="row form-group">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 pad">
    <label for="id_col_council_cat">Sub category</label>
    <div class="error_msg" id="sub_msg"><b><i class="fa fa-exclamation-circle"></i> </b></div>
    <select class="form-control my_select col-lg-5" id="id_col_council_cat" name="Col_council_cat">
      {% if current %}
      <option value="{{user.college_council}}">{{user.college_council}}</option>  
      {% else %}
      <option value=""></option> 
      {% endif %}   
      {% for col_council_cat in col_council_cats %}   
        <option value="{{col_council_cat.name}}">{{col_council_cat.name}}</option>  
      {% endfor %} 
    </select>
  </div>
  <div class="col-xs-3"></div>
</div>
{% endif %} 